#results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

/* Estilo geral do select */
#attribute-select {
    appearance: none; /* Remove o estilo padrão do navegador */
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Adicionar seta personalizada */
#attribute-select::-ms-expand {
    display: none;
}

/* Estilo ao focar (clicar no campo) */
#attribute-select:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 4px #000000;
}