<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Pokémon</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poke_grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hiperlink.css') }}">

    <style>

        /* Container do grid */
        .pokemon-grid {
            max-width: 1200px;
        }

        .pokemon-grid.fixed-columns {
            grid-template-columns: repeat(6, 1fr);
            max-width: 1200px;
        }

    </style>
</head>
<body>
    <div class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Pokémon Logo">
        </a>

        <div class="nav-buttons">
            <a href="/">Pokédex</a>
            <a href="/top-pokemons">Top Pokémon</a>
            <a href="/ovos">Ovos</a>
            <a href="/habilidades_secretas">Habilidades Secretas</a>
        </div>
    </div>

    <h4>Pokedéx de Kanto</h4>

    <div class="pokemon-grid fixed-columns">
        {% for pokemon in pokemons %}
            <a href="{{ url_for('pokemon_page', pokemon_id=pokemon[0]) }}" class="pokemon-card-link">
                <div class="pokemon-card">
                    <img src="{{ url_for('static', filename='images/' + pokemon[0]|string + '.png') }}" alt="{{ pokemon[1] }}" style="display: block; margin: auto;">
                    <h3>#{{ pokemon[0] }} - {{ pokemon[1] }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>

</body>
</html>
