<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ovos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info_box.css') }}">

    <style>

        /* Alterações na info_box */
        .info-box {
            width: 400px;
            text-align: center;
        }

        .info-box h3 {
            text-align: center;
            font-size: 1.5em; 
            margin-bottom: 10px; 
            color: #333; 
        }

    </style>
</head>
<body>
    <div class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Pokémon Logo">
        </a>

        <div class="nav-buttons">
            <a href="/">Pokédex</a>
            <a href="/top-pokemons">Top Pokémon</a>
            <a href="/ovos">Ovos</a>
            <a href="/habilidades_secretas">Habilidades Secretas</a>
        </div>
    </div>

    <div class="info-box">
        <h3>Tipos de Ovos</h3>
        <div class="hiperlinks">
            {% for ovo in ovos %}
                <div class="section">
                    <a href="/ovos/{{ ovo[0] }}">
                        {{ ovo[0] }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>
