<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Pokémons</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poke_grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drop_down.css') }}">

    <style>

        h3 {
            text-align: center;
            font-size: 2em; 
            margin-bottom: 10px; 
            color: #333; 
        }

        h1 {
            text-align: center;
            font-size: 1.4em; 
            margin-bottom: 10px; 
            color: #000000; 
        }

    </style>
</head>
<body>
    <div class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Pokémon Logo">
        </a>

        <div class="nav-buttons">
            <a href="/">Pokédex</a>
            <a href="/top-pokemons">Top Pokémon</a>
            <a href="/ovos">Ovos</a>
            <a href="/habilidades_secretas">Habilidades Secretas</a>
        </div>
    </div>

    <h4>Top Pokémons</h4>

    <div style="text-align: center;">

        <h3> Lendários </h3>

        <div class="pokemon-grid">
            {% for lendario in lendarios %}
                <a href="{{ url_for('pokemon_page', pokemon_id=lendario[0]) }}" class="pokemon-card-link">
                    <div class="pokemon-card">
                        <img src="{{ url_for('static', filename='images/' + lendario[0]|string + '.png') }}" alt="{{ lendario[1] }}" style="display: block; margin: auto;">
                        <h3>#{{ lendario[0] }} - {{ lendario[1] }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>   
        
        <br>
        <br>

        <h3> Melhores Pokémon por Elemento </h3>

        <div class="pokemon-grid fixed-columns">
            {% for pokemon in pokeTopEle %}
                <a href="{{ url_for('pokemon_page', pokemon_id=pokemon[0]) }}" class="pokemon-card-link">
                    <div class="pokemon-card">
                        <h3>{{pokemon[2]}}</h3>
                        <img src="{{ url_for('static', filename='images/' + pokemon[0]|string + '.png') }}" alt="{{ pokemon[1] }}" style="display: block; margin: auto;">
                        <h3>#{{ pokemon[0] }} - {{ pokemon[1] }}</h3>
                        <h3>{{pokemon[3]}} pontos</h3>
                    </div>
                </a>
            {% endfor %}
        </div>

        <br>

        <div>
            <h3>Melhores Pokémon por Atributo</h3>
            <h1>Selecione um atributo:</h1>
            <select id="attribute-select">
                <option value="" disabled selected>Escolha um atributo...</option>
                <option value="vida">Hp</option>
                <option value="ataque">Ataque</option>
                <option value="defesa">Defesa</option>
                <option value="esp_ataque">Esp Ataque</option>
                <option value="esp_defesa">Esp Defesa</option>
                <option value="velocidade">Velocidade</option>
                <option value="total_pontos">Total</option>
            </select>
        </div>
        
        <!-- Div onde os resultados serão exibidos -->
        <div id="results"></div>

        <br>

        <script type="module" src="{{ url_for('static', filename='js/dinamic_top_poke.js') }}"></script>

    </div>

</body>
</html>
